// customize some Bootstrap variables
$primary: darken(#428bca, 50%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";


//---------GENERAL---------

.container {
    padding: 15px;
    text-align: center;
}

//---------MAP---------
#mapBox-map {
    width: 80%;
    height: 500px;
}
